[Unit]
Description=LLM Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=aginies
Group=aginies
#LLM_MODEL=/home/aginies/.lmstudio/models/ineosnexus/Qw3.6-35B-A3B-Claude-4.7-Opus-Reasoning-Distill-i1/Qw3.6-35B-A3B-Claude-4.7-Opus-Reasoning-Distill-i1-Q6_K.gguf
EnvironmentFile=/home/aginies/llmtui/llm-server.env
ExecStart=/bin/bash -l -c 'exec /home/aginies/llmtui/target/debug/llm-manager serve --model "${LLM_MODEL}" --api-port 49222 ${DASHBOARD_ENABLED:+--enable-dashboard} --config /home/aginies/.config/llm-manager/config.yaml'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
